@inject IKubernetes client

<h4>Pods</h4>
<div class="border border-dark">
<table class="table table-hover">
    <thead>
        <tr>
            <td>Name</td>
            <td>IP</td>
            <td>Container Count</td>
            <td>CPU</td>
            <td>First Container</td>
        </tr>
    </thead>
    <tbody>
        @{var a = client.ListNamespacedPod(Namespace); }
        @foreach (var pod in a?.Items ?? null)
        {
            <tr>
                <td>@pod.Name()</td>
                <td>@pod.Status.PodIP</td>
                <td>@pod.Spec.Containers.Count</td>
                <td>@client.GetKubernetesPodsMetricsAsync().Result.Items.Where(a => a.Metadata.Name == pod.Name()).First().Containers.First().Usage["cpu"].CanonicalizeString()</td>
                <td>@pod.Spec.Containers.First().Image</td>
            </tr>
        }
    </tbody>
</table>
</div>
<br />
@code {
    [Parameter]
    public string Namespace { get; set; }
}
